<?xml version="1.0" ?>
<!--
/**
 * 2011-2017 PH2M
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0) that is available
 * through the world-wide-web at this URL: http://www.opensource.org/licenses/OSL-3.0
 * If you are unable to obtain it through the world-wide-web, please send an email
 * to agence@reflet-digital.com so we can send you a copy immediately.
 *
 * @author PH2M - contact@ph2m.com
 * @copyright 2001-2017 PH2M
 * @license http://www.opensource.org/licenses/OSL-3.0 Open Software License (OSL 3.0)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="PH2M\Logistic\Api\Data\LogInterface" type="PH2M\Logistic\Model\Log" />
    <preference for="PH2M\Logistic\Api\LogRepositoryInterface" type="PH2M\Logistic\Model\LogRepository" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="logistic_log_listing_data_source" xsi:type="string">PH2M\Logistic\Model\ResourceModel\Log\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="PH2M\Logistic\Model\ResourceModel\Log\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">logistic_log</argument>
            <argument name="eventPrefix" xsi:type="string">logistic_log_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">log_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">PH2M\Logistic\Model\ResourceModel\Log</argument>
        </arguments>
    </type>
</config>